= simple_form_for(@quest) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description, as: :text
    = f.input :expire_date, as: :date
    = f.input :attachment, as: :file

  .form-actions
    = f.button :submit
