%h1 Listing quests

%table
  %tr
    %th Title
    %th Owner
    %th Description
    %th Cooperators
    %th
    %th
    %th

  - @quests.each do |quest|
    %tr
      %td= quest.title
      %td= quest.owner
      %td= quest.description
      %td= quest.cooperators
      %td= link_to 'Show', quest
      %td= link_to 'Edit', edit_quest_path(quest)
      %td= link_to 'Destroy', quest, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Quest', new_quest_path
