%h2 Quests

%ul.hoge
  - @quests.each do |quest|
    %li.panel
      %p= quest.title
      %p
        member:
        = quest.cooperators.count
      -# TODO restrict for his quest.
      %p
        = link_to 'Show', quest
        = link_to 'Edit', edit_quest_path(quest)

= link_to 'New Quest', new_quest_path
