%p#notice= notice

.panel.callout
  %p Title:
  = @quest.title
  %p Description:
  = @quest.description
  %p Cooperators:
  // TODO show cooperators' avatar list
  = @quest.cooperators.count||0
  %p
    =image_tag "img.gif", :size=>"120x80"
%p
  %b Res:
- 3.times do
  .panel
    %p
      %b hgsk: 
      I solved in 10 minutes !

= link_to 'Edit', edit_quest_path(@quest)
\|
= link_to 'Back', quests_path
