- 3.times do
  .row
  .large-2.columns.small-3
    = image_tag "avatar.png"
  .large-10.columns
    %p
      %strong Name
      Bacon psum
    %ul.inline-list 
      %li
        = link_to "Re","#"
      %li
        = link_to "Good","#"
      %li
        = link_to "Share","#", :class=>"fc-webicon facebook"
    %h6 Res
    .row
      .large-2.columns.small-3
        = image_tag "avatar.png"
      .large-10.columns
        awesome! this is a good solution.

