!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Lms"
      %meta{:content => content_for?(:description) ? yield(:description) : "Lms", :name => "description"}
      %meta{:name =>"viewport", :content=>"width-device-width, initial-scale=1.0"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    #container.container
      %nav
        = render 'layouts/navigation'
        = render 'layouts/messages'
      .row
        .large-3.columns
          .panel
            = link_to image_tag("fuga.png"), "#"
            %h5
              = link_to current_user.name,"#"
            .section-container.vertical-nav{:data=>{:section=>"",:options=>"deep_linking: false; one_up: true"}} fuga
            %section.section
              %h5.title
                = link_to "Section 1", "#"
              %h5.title
                = link_to "Section 2", "#"
              %h5.title
                = link_to "Section 3", "#"
        .large-6.columns
          #main{:role => "main"}
            = yield
        %aside.large-3.columns.hide-for-small
          %p
            image_tag "ad"
          %p
            image_tag "ad"
    %footer
    / ! end of #container
