!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Lms"
      %meta{:content => content_for?(:description) ? yield(:description) : "Lms", :name => "description"}
      %meta{:name =>"viewport", :content=>"width-device-width, initial-scale=1.0"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    #container.container
      %nav
        = render 'layouts/navigation'
        = render 'layouts/messages'
      .row
        .large-8.columns
          #main{:role => "main"}
            = yield
        %aside.large-4.columns.hide-for-small
          - if current_user
            .panel
              = link_to image_tag("portrait.png"), "#"
              %h5
                %span
                Hello, 
                = link_to current_user.name,"#"
              .section-container.vertical-nav{:data=>{:section=>"",:options=>"deep_linking: false; one_up: true"}} 
              %section.section
                %h5.title
                  = link_to "Activity", "#", :class=>"has_tip", :title=>"Remind All Your Learning Activity."
                %h5.title
                  = link_to "Score", "#", :class=>"has_tip", :title=>"Check Your Score."
                %h5.title
                  = link_to "Social", "#", :class=>"has_tip", :title=>"Manage Your Social Learning Network"
            .panel
              Ad
            .panel.callout
              Notice1
            .panel.callout
              Notice1
            .panel.callout
              ToDo
              %ul
                %li Math p.12 - p.14
                %li English p.15 - p.19

    %footer
    / ! end of #container
